section.product-goods.offset
	.container
		include product-breadcrumbs

		.product-goods__grid.pg-grid
			.pg-grid__gal-block
				.pg-grid__gal.swiper
					.swiper-wrapper
						.pg-grid__gal-img.swiper-slide
							.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
							div(class="goods-popular__grid-img")
								img(src="uploads/products/lamp-main.jpg", alt="")
						.pg-grid__gal-img.swiper-slide
							.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
							div(class="goods-popular__grid-img")
								img(src="uploads/products/lamp-sub-1.jpg", alt="")
						.pg-grid__gal-img.swiper-slide
							.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
							div(class="goods-popular__grid-img")
								img(src="uploads/products/lamp-sub-2.jpg", alt="")
						.pg-grid__gal-img.swiper-slide
							.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
							div(class="goods-popular__grid-img")
								img(src="uploads/products/lamp-sub-3.jpg", alt="")
				
				.pg-grid__gall.swiper
					.swiper-wrapper
						.swiper-slide
							.pg-grid__gal-img
								img(src="uploads/products/lamp-main.jpg", alt="")
						.swiper-slide
							.pg-grid__gal-img
								img(src="uploads/products/lamp-sub-1.jpg", alt="")
						.swiper-slide
							.pg-grid__gal-img
								img(src="uploads/products/lamp-sub-2.jpg", alt="")
						.swiper-slide
							.pg-grid__gal-img
								img(src="uploads/products/lamp-sub-3.jpg", alt="")

			.pg-content
				.pg-content__title.h2 Абстрактная настольная лампа из витражного стекла 
				.pg-content__price 12 400 ₽
				.pg-content__desc
					p Абстрактная настольная лампа из витражного стекла - это уникальное и стильное решение для освещения вашего интерьера. Этот продукт представляет собой сочетание элегантности и современных технологий, создавая мягкое и уютное освещение. Витражное стекло, из которого изготовлена лампа, придает ей неповторимый и изысканный вид. Благодаря своей компактной и легкой конструкции, лампа станет отличным дополнением для любого интерьера, будь то домашний кабинет, спальня или даже офис.
					p В качестве источника света используется энергосберегающая светодиодная лампа, которая обеспечивает мягкий и равномерный свет. Вы можете выбрать цветовую температуру и яркость освещения в соответствии с вашими предпочтениями. Также вы можете легко регулировать высоту и направление света, чтобы создать комфортное освещение для чтения, работы или отдыха.
				.goods-popular__grid-info
					.goods-popular__grid-status.active
						i
						| Под заказ
					.goods-popular__grid-amount Мин. заказ: от&nbsp;
						span 10
						| &nbsp;шт.

				+quantity-shown(10)

				.pg-content__btns
					button.btn.btn--accent.btn--xl Добавить в корзину
					button.btn.btn--transp.btn--xl.jsOpenModal Связаться с менеджером