//- start connect-block
section(class="connect-block offset")
	.container
		div(class="h2 accent-color") Остались вопросы? Свяжитесь с нами
		.connect-block__grid
			.connect-block__item
				a(class="connect-block__link" href="#")
					+mono-svg('tlg', 'connect-block__icon')
					span.un-line.tt-uc Telegram
			.connect-block__item
				a(class="connect-block__link" href="#")
					+mono-svg('whs', 'connect-block__icon')
					span.un-line.tt-uc Whatsapp
			.connect-block__item
				a(class="connect-block__link" href="mailto:info@zeneco.ru")
					span.un-line.tt-uc info@zeneco.ru
			.connect-block__item
				a(class="connect-block__link" href="tel:+79040000000")
					span.un-line.tt-uc +7(904)0000000

//- end connect-block