//- start goods-popular
section(class="goods-popular offset")
	.container
		.title-block
			div(class="h2 accent-color") Категории товаров
			a(class="title-block--right text--btn-title tt-uc" href="#") Смотреть все
		.goods-popular__grid

			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-1.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
			
			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-2.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
			
			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-3.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)

			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-4.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)

			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-5.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)

			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-6.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)

			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-7.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)

			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-8.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)

			.goods-popular__grid-item
				.goods-popular__grid-wrapper
					.goods-popular__grid-top
								.goods-popular__grid-discount 0%
								button(class="goods-popular__grid-fav jsFav")
									+mono-svg('heart', '', '0 0 20 18')
					.goods-popular__grid-img
						img(src="uploads/popular/pop-9.jpg" alt="")
					.goods-popular__grid-content
						.goods-popular__grid-info
							.goods-popular__grid-status Под заказ
							.goods-popular__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.goods-popular__grid-desc
							.goods-popular__grid-title Светильник напольный Simig Lighting
							.goods-popular__grid-price
								span 12 400
								| &nbsp;₽
					.goods-popular__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
			
			.goods-popular__grid-item
				.goods-popular__to-shopping
					a(class="btn btn--arrow" href="#") К покупкам
						+mono-svg('btn-arrow', 'btn--arrow-icon', '0 0 196 20')


//- end goods-popular