//- start goods category
section(class="goods-cat offset")
	.container
		div(class="h2 accent-color") Категории товаров
		.goods-cat__grid
			a(class="goods-cat__grid-item" data-fslightbox="goods-cat" href="uploads/category/cat-1.jpg")
				img(src="uploads/category/cat-1.jpg" alt="")
			a(class="goods-cat__grid-item" data-fslightbox="goods-cat" href="uploads/category/cat-2.jpg")
				img(src="uploads/category/cat-2.jpg" alt="")
			div(class="goods-cat__grid-item view-cat")
				a(href="#") <span class="mobile-off">Смотреть</span> <span class="mobile-on-inline">В</span> каталог
			a(class="goods-cat__grid-item" data-fslightbox="goods-cat" href="uploads/category/cat-3.jpg")
				img(src="uploads/category/cat-3.jpg" alt="")
		.goods-cat__labels
			a(href="#") Товары для загородного дома
			a(href="#") Детское игровое и спортивное оборудование
			a(href="#") Зона барбекю
			a(href="#") Изделия для сада, огорода
			a(href="#") Уличные светильники
			a(href="#") Декоративные изделия из металла
			a(href="#") Мобильные киоски либо павильоны
			a(href="#") Прочие металоконструкции
			a(href="#") Дома на колёсах
			a(href="#") Мобильные малогабаритные сооружения
			a(href="#") Изделия на светодиодном оборудование
			a(href="#") Емкости для растений
			a(href="#") Декоративные и функциональные изделия из древесины и пластмассы
			a(href="#") Щиты, светильники, билборды
//- end goods category