//- start handmade
section(class="handmade offset")
	.container
		.handmade__block
			.handmade__block-title
				| Ручная работа, уникальный дизайн: ЗенЭко — ваш  личный производитель.
			.handmade__block-text
				p ЗенЭко занимается разработкой инновационных и экологически безопасных решений для обустройства жилых и общественных пространств. Наш подход основан на применении последних достижений в области нейротехнологий и дизайна, что позволяет предлагать не просто уникальные товары, но и целостные стратегии для трансформации пространств.
				p Мы ценим комбинацию мастерства и индивидуальности в каждом проекте, предоставляя персонализированное обслуживание. Наша команда профессионалов готова воплотить ваши идеи в жизнь, принимая во внимание уникальные особенности каждого места для создания эксклюзивных и функциональных дизайнерских решений.
				a(class="btn btn--arrow" href="category.html") К покупкам
					+mono-svg('btn-arrow', 'btn--arrow-icon', '0 0 196 20')
//- end handmade