//- start main-blog
section(id="blog" class="main-blog jsTab offset")
	.container
			.title-block
				div(class="h2 accent-color") Блог
				a(class="title-block--right text--btn-title tt-uc" href="blog.html") Читать все
	include ../../parts/roll-list
	include ../../parts/main-blog-part
	.tac.main-blog__show-all
		a(class="btn btn--transp btn--xl" href="blog.html") Читать все

//- end main-blog