//- start main hero
section(class="main-hero offset")
	div(class="swiper main-hero__swiper")
		.swiper-wrapper
			.swiper-slide
				.main-hero__item
					.main-hero__content
						.h2 Искусство, рожденное <br>инновациями
						p.main-hero__sub Мы специализируемся на создании <br>уникальных и экологически чистых&nbsp;решений в&nbsp;области благоустройства и декора.
						a(class="btn btn--white btn--xl" href="category.html") Смотреть каталог
					.main-hero__img
						picture
							source(media="(max-width: 1024px)" srcset="uploads/hero/hero-main-sm.jpg")
							source(media="(min-width: 1025px)" srcset="uploads/hero/hero-main-lg.jpg")
							img(src="uploads/hero/hero-main-sm.jpg" alt="")
			.swiper-slide
				.main-hero__item
					.main-hero__content
						.h2 Где каждое изделие <br>рассказывает историю
						p.main-hero__sub  Гордость нашей компании — способность соединять традиционное мастерство с современным дизайном.
						a(class="btn btn--white btn--xl" href="category.html") Смотреть каталог
					.main-hero__img
						picture
							source(media="(max-width: 1024px)" srcset="uploads/hero/hero-main-sm-2.jpg")
							source(media="(min-width: 1025px)" srcset="uploads/hero/hero-main-lg-2.jpg")
							img(src="uploads/hero/hero-main-sm-2.jpg" alt="")
			.swiper-slide
				.main-hero__item
					.main-hero__content
						.h2 От мечты к <br>действительности
						p.main-hero__sub Мы интегрируем инновации и нейросетевые технологии и предлагаем целостные концепции преобразования пространств.
						a(class="btn btn--white btn--xl" href="category.html") Смотреть каталог
					.main-hero__img
						picture
							source(media="(max-width: 1024px)" srcset="uploads/hero/hero-main-sm-3.jpg")
							source(media="(min-width: 1025px)" srcset="uploads/hero/hero-main-lg-3.jpg")
							img(src="uploads/hero/hero-main-sm-3.jpg" alt="")
		.swiper-pagination
//- end main hero