//- start newest
section(class="newest offset")
	.container
		.title-block.aic
			div(class="h2 accent-color") Новинки
			.newest-swiper__block-btns
				button.newest-swiper__prev.n-btn-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.n-btn-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		.newest-swiper.n-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-5.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-6.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-7.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/popular/pop-8.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") Смотреть все

//- end newest