footer.footer
	.container
		.footer__top
			.footer__top-row
				.footer__top-left
					a(class="logo-footer" href="#") ZenEco
					span Искусство, рожденное инновациями
				.footer__top-mid
					include ../../parts/socials
				.footer__top-right
					a(href="tel:+79044550072") +7(904) 455-00-72
					a(href="mailto:info@zeneco.ru") info@zeneco.ru
			.footer__top-row
				ul
					li.drop-mobile
						span.drop-mobile__title Каталог
						ul.drop-mobile__submenu
							li
								a(href='#') Товары для загородного дома
							li
								a(href='#') Декоративные изделия из металла
							li
								a(href='#') Изделия для сада, огорода 
							li
								a(href='#') Зона барбекю
							li
								a(href='#') Другие товары
			.footer__top-row
				ul
					li.drop-mobile
						span.drop-mobile__title Информация
						ul.drop-mobile__submenu
							li
								a(href='#') О компании
							li
								a(href='#') Блог
							li
								a(href='#') Контакты
							li
								a(href='#') Центр поддержки
		.footer__down
			span &copy;2023 ZenEco
			a(href="#") Политика конфиденциальности
			a(href="#") Пользовательское соглашение
