section(class="blog-posts offset")
	.blog-posts__rubrik
		.container
			.rubrik-block
				.rubrik-title Вам может быть интересно
				a(class="rubrik-link un-line" href="catalog.html") Читать все
		.container
			.rubrik__slider
				.rubrik__grid.swiper-wrapper
					div(class="rubrik__grid-item swiper-slide" data-postlink="blog-post.html")
						.rubrik__grid-img
							img(src="uploads/blog/post-1.jpg", alt="")
						.rubrik__grid-content
							span.rubrik__grid-date 01.01.2024
							span.rubrik__grid-caption Современные эко-тренды в интерьере
							p.rubrik__grid-text В современном мире все больше людей задумываются об экологии и устойчивом развитии. Это отражается и на трендах в дизайне интерьера, где все большую популярность приобретают “зеленые” решения.
					div(class="rubrik__grid-item swiper-slide" data-postlink="blog-post.html")
						.rubrik__grid-img
							img(src="uploads/blog/post-2.jpg", alt="")
						.rubrik__grid-content
							span.rubrik__grid-date 02.01.2024
							span.rubrik__grid-caption Использование растений в интерьере
							p.rubrik__grid-text Один из самых популярных эко-трендов – это использование растений в дизайне помещений. В этой статье мы расскажем о том, как правильно выбрать и разместить растения, чтобы создать уютный и гармоничный интерьер.
					div(class="rubrik__grid-item swiper-slide" data-postlink="blog-post.html")
						.rubrik__grid-img
							img(src="uploads/blog/post-3.jpg", alt="")
						.rubrik__grid-content
							span.rubrik__grid-date 03.01.2024
							span.rubrik__grid-caption Основные принципы и тенденции
							p.rubrik__grid-text Все больше людей становятся приверженцами экологичного образа жизни. Это касается и обустройства дома, где одним из популярных направлений является эко-стиль. Мы рассмотрим основные принципы и тенденции этого стиля.
					div(class="rubrik__grid-item swiper-slide" data-postlink="blog-post.html")
						.rubrik__grid-img
							img(src="uploads/blog/post-4.jpg", alt="")
						.rubrik__grid-content
							span.rubrik__grid-date 01.01.2024
							span.rubrik__grid-caption Экологический подход к интерьеру
							p.rubrik__grid-text Экологический дизайн – это направление, которое подразумевает использование экологически чистых и натуральных материалов, цветов и текстур. Мы рассмотрим основные принципы экологического дизайна.
