.blog-post__aside
	span.blog-post__aside-title Темы и статьи

	.bp-list
		span.bp-list__title Эко-дом: тренды, стиль и декор
		ul
			li
				a(href="#") Эко-стиль в интерьере
			li
				a(href="#") Интерьерные тренды
			li
				a(href="#") Эко-дизайн
			li
				a(href="#") Домашний декор
			li
				a(href="#") Организация пространства
	
	.bp-list
		span.bp-list__title Экология и сад
		ul
			li
				a(href="#") Экостиль в саду
			li
				a(href="#") Зеленая архитектура: стены и крыши
			li
				a(href="#") Садовые растения и уход за ними
			li
				a(href="#") Создание садового декора
			li
				a(href="#") Организация пространства
			li
				a(href="#") Озеленение участка
			li
				a(href="#") Полезные советы для сада
			li
				a(href="#") Оригинальные идеи для оформления сада
	
	.bp-list
		span.bp-list__title Ландшафтный дизайн
		ul
			li
				a(href="#") Проекты и идеи
			li
				a(href="#") Стили ландшафтного дизайна
			li
				a(href="#") Благоустройство территории
			li
				a(href="#") Малые архитектурные формы
			li
				a(href="#") Вертикальное озеленение
			li
				a(href="#") Зеленый оазис
	
	.bp-list
		span.bp-list__title Декор
		ul
			li
				a(href="#") Принципы декора в современном интерьере
			li
				a(href="#") Материалы для декора: выбор и сочетание
			li
				a(href="#") Современный и винтажный декор
			li
				a(href="#") Растения и цветы в декоре интерьера
			li
				a(href="#") Как создать уют на участке
			li
				a(href="#") Терраса и патио: идеи декора
			li
				a(href="#") Декор для двора
	
	.bp-list
		span.bp-list__title Территория комфорта
		ul
			li
				a(href="#") Как организовать освещение участка
			li
				a(href="#") Оригинальные решения для водоемов и фонтанов 
			li
				a(href="#") Мощение дорожек
			li
				a(href="#") Создание зон отдыха
			li
				a(href="#") Дизайн двора: идеи оформления
	
	.bp-list
		span.bp-list__title Светодизайн: Рекомендации по освещению
		ul
			li
				a(href="#") Общие принципы освещения
			li
				a(href="#") Как выбрать освещение для дома 
			li
				a(href="#") Декоративное освещение
			li
				a(href="#") Какие лампы лучше использовать
			li
				a(href="#") Уличное освещение
			li
				a(href="#") Светильники в интерьере: как выбрать и расположить
			li
				a(href="#") Управление освещением
