.container {
	margin: 0 auto;
	padding: 0 var(--container-padding);
	max-width: calc(var(--container-width) + (2 * var(--container-padding)));
	width: 100%;
}

.container-fluid {
	margin: 0 auto;
	max-width: 1920px;
	width: 100%;
}

.container-right {
	//overflow-x: hidden;
	margin-left: auto;
	margin-left: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
}

.container-left {
	// overflow-x: hidden;
	padding-right: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
}
