// -- product page grid
.pg-grid {
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: stretch;
	grid-gap: 30px;
	@include mw1440 {grid-gap: 20px;}
	@include mw1024 {
		grid-template-columns: 100%;
		grid-gap: 30px;
	}

	&__gal {
		display: flex;
		&-img {
			margin-bottom: 30px;			
			@include mw1440 {margin-bottom: 20px}

			img {
				max-width: unset;
				aspect-ratio: 242 / 260;
				width: 100%;
				cursor: pointer;
			}
		}

		.goods-popular__grid-top {
			max-width: 100%;
		}
	}
}

.pg-content {
	&__title {
		color: var(--accent);
	}
	&__price {
		margin-bottom: 20px;
		font-size: 28px;
		line-height: 120%;
		color: var(--accent);
		font-weight: 600;
		@include mw768 {
			font-size: 22px;			
		}
	}

	&__desc {
		margin-bottom: 20px;
		p + p {
			margin-top: 15px;
		}
		@include mw768 {
			margin-bottom: 15px;
			font-size: 14px;
			line-height: 120%;
		}
	}

	.goods-popular__grid-info {
		margin-bottom: 30px;
		justify-content: flex-start;
		gap: 15px;
		font-size: 16px;
		line-height: 130%;

		@include mw768 {
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 120%;
		}
	}

	.quantity  {
		margin-bottom: 40px;
		justify-content: flex-start;
		gap: 5px;
		background-color: unset;
		@include mw768 {margin-bottom: 20px;}
	}

	&__btns {
		display: flex;
		gap: 20px;
		@include mw768 {
			flex-direction: column;
		}
	}
}

// -- product page
.product {
	&-likes {
		&.offset {
			margin-bottom: 100px;
			@include mw1440 {margin-bottom: 80px}
			@include mw1024 {margin-bottom: 20px}
			@include mw768 {margin-bottom: 0}
		}

		.newest__hover {
			.btn--xl {
				max-width: 400px;
			}
		}
	}
}