extends layout/main 

block variables
	-var title = 'О компании'

block content

	include pages/about/about-hero
	include pages/about/about-benefits
	include pages/about/about-gallery

	include modules/main-form/main-form
	