extends layout/main 

block variables
	-var title = 'Страница статьи'

block content

	include pages/blog-post/blog-post-breadcrumbs
	
	include pages/blog-post/blog-post-content
	
	include pages/blog-post/blog-post-out
	
	include pages/blog-post/main-blog-post

	include modules/main-form/main-form
	