extends layout/main 

block variables
	-var title = 'Избранное'

block content

	include pages/favorite/favorite-breadcrumbs
	
	include pages/favorite/favorite-block

	include modules/main-form/main-form