extends layout/main 

block variables
	-var title = 'Главная страница'

block content
	include modules/mainpage/main-hero
	include modules/mainpage/handmade
	include modules/mainpage/goods-category
	include modules/mainpage/goods-popular
	include modules/mainpage/connect-block
	include modules/mainpage/newest
	include modules/mainpage/main-blog
	include modules/main-form/main-form
	