extends layout/main 

block variables
	-var title = 'Страница товара'

block content

	include pages/product/product-goods

	include pages/product/product-must-like

	include modules/main-form/main-form
	