extends layout/main 

block variables
	-var title = 'Центр поддержки'

block content

	include pages/support/support-breadcrumbs
	
	include pages/support/support-block

	include modules/main-form/main-form