section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Товары для загородного дома
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Изделия для сада, огорода 
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Ключницы
			li
				a(href="#") Горшки для растений
			li
				a(href="#") Стойки для цветов
			li
				a(href="#") Садовые фигуры
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Уличные светильники
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Люстры
			li
				a(href="#") Светильники
			li
				a(href="#") Настенные
			li
				a(href="#") Настольные
			li
				a(href="#") Встраиваемые
			li
				a(href="#") Торшеры
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Детское игровое и спортивное оборудование
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Площадки для кроссфита
			li
				a(href="#") Площадки для  воркаута
			li
				a(href="#") Детские комплексы
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Зона барбекю
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Декоративные изделия из металла
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Мобильные киоски либо павильоны
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Прочие металоконструкции
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Дома на колёсах
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Мобильные малогабаритные сооружения
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-babeq-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Изделия на светодиодном оборудование
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-zagorod-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Емкости для растений
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-sad-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Декоративные и функциональные изделия из древесины и пластмассы
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-street-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам

section(class="offset")
	.container
		.title-block.aib
			div(class="h2 accent-color") Щиты, светильники, билборды
			.newest-swiper__block-btns
				button.newest-swiper__prev.cat-prev
					+mono-svg('swiper-arrow', '', '0 0 70 24')
				button.newest-swiper__next.cat-next
					+mono-svg('swiper-arrow', '', '0 0 70 24')
		ul.newest-links
			li
				a(href="#") Заборы
			li
				a(href="#") Клумбы и композиции для цветов
			li
				a(href="#") Наполнение участка
			li
				a(href="#") Фонтаны
		.newest-swiper.cat-slider
			.swiper-wrapper.newest__grid
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-3.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-4.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-1.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
				.swiper-slide.newest__grid-wrapper
					.newest__grid-top
						.newest__grid-discount 0%
						button(class="newest__grid-fav jsFav")
							+mono-svg('heart', '', '0 0 20 18')
					.newest__grid-img
						img(src="uploads/category/cat-child-2.jpg" alt="")
					.newest__grid-content
						.newest__grid-info
							.newest__grid-status Под заказ
							.newest__grid-amount Мин. заказ: от&nbsp;
								span 10
								| &nbsp;шт.
						.newest__grid-desc
							.newest__grid-title Светильник напольный Simig Lighting
							.newest__grid-price
								span 12 400
								| &nbsp;₽
					.newest__hover
						button(class="btn btn--accent btn--xl jsToCart") В корзину
						+quantity(10)
		.tac.newest-btn
			a(class="btn btn--transp btn--xl" href="#") К покупкам
