.catalog__title
	.catalog__title-text
		.h2.accent-color Освещение
	.catalog__title-list.slide-block
		.slide-list
			ul.list
				li
					a(href="#") Люстры
				li
					a(href="#") Светильники
				li
					a(href="#") Настольные
				li
					a(href="#") Настенные
				li
					a(href="#") Встраиваемые
				li
					a(href="#") Наполные
				li
					a(href="#") Настульные
				li
					a(href="#") Навесные
		button.slide-btn Еще


	