.catalog__title
	.catalog__title-text
		.h2.accent-color Освещение
	.catalog__title-list.slide-block
		.slide-list
			ul.list
				li
					a(href="catalog.html") Люстры
				li
					a(href="catalog.html") Светильники
				li
					a(href="catalog.html") Настольные
				li
					a(href="catalog.html") Настенные
				li
					a(href="catalog.html") Встраиваемые
				li
					a(href="catalog.html") Наполные
				li
					a(href="catalog.html") Настульные
				li
					a(href="catalog.html") Навесные
		button.slide-btn Еще


	