.catalog__filter
  ul.filter-list
    li.list-item
      span.f-drop.jsDrop(tabindex='1')
        +mono-svg('sort', 'f-drop__icon')
        | &#x9;&#x9;&#x9;&#x9;&Pcy;&ocy; &pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&ncy;&ocy;&scy;&tcy;&icy;
      ul.f-droplist
        li.radio
          label
            input.radio-real(type='radio' name='radio' checked='')
            span.radio-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Pcy;&ocy; &pcy;&ocy;&pcy;&ucy;&lcy;&yacy;&rcy;&ncy;&ocy;&scy;&tcy;&icy;
        li.radio
          label
            input.radio-real(type='radio' name='radio')
            span.radio-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Scy;&ncy;&acy;&chcy;&acy;&lcy;&acy; &ncy;&ocy;&vcy;&ycy;&iecy;
        li.radio
          label
            input.radio-real(type='radio' name='radio')
            span.radio-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Pcy;&ocy; &vcy;&ocy;&zcy;&rcy;&acy;&scy;&tcy;&acy;&ncy;&icy;&yucy; &tscy;&iecy;&ncy;&ycy;
        li.radio
          label
            input.radio-real(type='radio' name='radio')
            span.radio-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Pcy;&ocy; &ucy;&bcy;&ycy;&vcy;&acy;&ncy;&icy;&yucy; &tscy;&iecy;&ncy;&ycy;
    li.list-item
      span.f-drop.jsDropChk(tabindex='2')
        | &Tcy;&icy;&pcy; &tcy;&ocy;&vcy;&acy;&rcy;&acy;
        i &#x2715;
      ul.f-droplist
        li.checkbox
          label
            input.checkbox-real(type='checkbox' checked='')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Lcy;&yucy;&scy;&tcy;&rcy;&ycy;
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Scy;&vcy;&iecy;&tcy;&icy;&lcy;&softcy;&ncy;&icy;&kcy;&icy;
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Ncy;&acy;&scy;&tcy;&ocy;&lcy;&softcy;&ncy;&ycy;&iecy;
        li
          button.f-drop-btn.jsDropBtn &Pcy;&rcy;&icy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy;
    li.list-item
      span.f-drop.jsDropRange(tabindex='3')
        | &TScy;&iecy;&ncy;&acy;
      ul.f-droplist
        li.modal
          .filter-range
            .filter-field
              input.input-min(type='number' value='1000' step='10')
              | &#x20BD;
            span.filter-separator
            .filter-field
              input.input-max(type='number' value='5000' step='10')
              | &#x20BD;
          .filter-slider
            .filter-progress
          .filter-input
            input.range-min(type='range' min='0' max='7000' value='1000' step='10')
            input.range-max(type='range' min='0' max='7000' value='5000' step='10')
        li
          button.f-drop-btn.jsDropBtn &Pcy;&rcy;&icy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy;
    li.list-item
      span.f-drop.jsDropChk(tabindex='4')
        | &TScy;&vcy;&iecy;&tcy;
        i &#x2715;
      ul.f-droplist
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Bcy;&iecy;&lcy;&ycy;&jcy; (291)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&CHcy;&iecy;&rcy;&ncy;&ycy;&jcy; (147)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Scy;&iecy;&rcy;&ycy;&jcy; / &scy;&iecy;&rcy;&iecy;&bcy;&rcy;&icy;&scy;&tcy;&ycy;&jcy; (143)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Bcy;&iecy;&zhcy;&iecy;&vcy;&ycy;&jcy; (114)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&ZHcy;&iocy;&lcy;&tcy;&ycy;&jcy; / &zcy;&ocy;&lcy;&ocy;&tcy;&ocy;&jcy; (95)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Rcy;&acy;&zcy;&ncy;&ocy;&tscy;&vcy;&iecy;&tcy;&ncy;&ycy;&jcy; (80)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Kcy;&rcy;&acy;&scy;&ncy;&ycy;&jcy; (14)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Zcy;&iecy;&lcy;&iocy;&ncy;&ycy;&jcy; (25)
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Fcy;&icy;&ocy;&lcy;&iecy;&tcy;&ocy;&vcy;&ycy;&jcy; (18)
        li
          button.jsDropMore
            | &IEcy;&shchcy;&iecy; 3 
            i &#x25BC;
        li
          button.f-drop-btn.jsDropBtn &Pcy;&rcy;&icy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy;
    li.list-item
      span.f-drop.jsDropChk(tabindex='5')
        | &Mcy;&icy;&ncy;&icy;&mcy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &zcy;&acy;&kcy;&acy;&zcy;
        i &#x2715;
      ul.f-droplist
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;1
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;2-9
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;10-49
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;50-99
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Bcy;&ocy;&lcy;&softcy;&shcy;&iecy; 100
        li
          button.f-drop-btn.jsDropBtn &Pcy;&rcy;&icy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy;
    li.list-item
      span.f-drop.jsDropChk(tabindex='6')
        | &Bcy;&rcy;&iecy;&ncy;&dcy;
        i &#x2715;
      ul.f-droplist
        li.checkbox
          label
            input.checkbox-real(type='checkbox')
            span.checkbox-custom
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&Zcy;&iecy;&ncy;&Ecy;&kcy;&ocy;
        li
          button.f-drop-btn.jsDropBtn &Pcy;&rcy;&icy;&mcy;&iecy;&ncy;&icy;&tcy;&softcy;
    li.list-item
      label.checkbox-btn(tabindex='7')
        input(type='checkbox')
        span &Scy;&ocy; &scy;&kcy;&icy;&dcy;&kcy;&ocy;&jcy;
    li.list-item
      label.checkbox-btn(tabindex='8')
        input(type='checkbox')
        span &Vcy; &ncy;&acy;&lcy;&icy;&chcy;&icy;&icy;
