//- start accordion
.accordion-wrapper
	button.accordion-btn Доставка
	.accordion-content
		p Если вы совершаете покупку на сайте, стоимость доставки рассчитывается автоматически, если в магазине - сотрудником ЗенЭко.

		p Итоговая стоимость зависит от нескольких факторов:

		ul
			li Зоны доставки.
			li Веса товаров в заказе.
			li Дополнительных услуг.
		
		.acc-title Порядок выполнения доставки

		p За час до прибытия на адрес с вами свяжется сотрудник доставки. По прибытии на адрес сотрудник повторно вам позвонит. Если в течение 30-ти минут после прибытия водителя вы не смогли забрать товар, он имеет право уехать. В этом случае повторная доставка оплачивается отдельно.
		
		p Рекомендуем проверять товар сразу при получении. Для вскрытия упаковки можете обратиться к сотруднику. На осмотр товара даётся 30 минут.

		p После получения и проверки заказа необходимо ознакомиться с документами и подписать их. Претензии по количеству и качеству полученного товара принимаются до подписания акта приёма-передачи.
	
	button.accordion-btn Оформление заказа
	.accordion-content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	button.accordion-btn Оплата
	.accordion-content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

	button.accordion-btn Возврат продукции
	.accordion-content
		p
			| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

//- end accordion