.container
	.main-blog__list

		div(class="main-blog__item" data-postlink="#")
			.main-blog__head
				span.main-blog__title Современные эко-тренды в интерьере
				span.main-blog__date 04.01.2024
			.main-blog__body
				p В современном мире все больше людей задумываются об экологии и устойчивом развитии. Это отражается и на трендах в дизайне интерьера, где все большую популярность приобретают “зеленые” решения.
				a(class="un-line" href="#") Читать дальше
			.main-blog__img
				img(src="uploads/blog/blog-eco-trands.jpg", alt="Современные эко-тренды")

		div(class="main-blog__item" data-postlink="#")
			.main-blog__head
				span.main-blog__title Использование растений в интерьере
				span.main-blog__date 03.01.2024
			.main-blog__body
				p Один из самых популярных эко-трендов – это использование растений в дизайне помещений. В этой статье мы расскажем о том, как правильно выбрать и разместить растения, чтобы создать уютный и гармоничный интерьер.
				a(class="un-line" href="#") Читать дальше
			.main-blog__img
				img(src="uploads/blog/blog-flora-interrior.jpg", alt="Растения в дизайне помещений")

		div(class="main-blog__item" data-postlink="#")
			.main-blog__head
				span.main-blog__title Основные принципы и тенденции
				span.main-blog__date 02.01.2024
			.main-blog__body
				p Все больше людей становятся приверженцами экологичного образа жизни. Это касается и обустройства дома, где одним из популярных направлений является эко-стиль. Мы рассмотрим основные принципы и тенденции этого стиля.
				a(class="un-line" href="#") Читать дальше
			.main-blog__img
				img(src="uploads/blog/blog-main-principles.jpg", alt="Основные принципы")

		div(class="main-blog__item" data-postlink="#")
			.main-blog__head
				span.main-blog__title Экологический подход к&nbsp;интерьеру
				span.main-blog__date 01.01.2024
			.main-blog__body
				p Экологический дизайн – это направление, которое подразумевает использование экологически чистых и натуральных материалов, цветов и текстур. Мы рассмотрим основные принципы экологического дизайна.
				a(class="un-line" href="#") Читать дальше
			.main-blog__img
				img(src="uploads/blog/blog-eco-action.jpg", alt="Современные эко-тренды")
