ul.post-socials
	li
		a(href="#")
			+mono-svg('vk-f', '', '0 0 26 26')
	li
		a(href="#")
			+mono-svg('wh-f', '', '0 0 26 26')
	li
		a(href="#")
			+mono-svg('tg-f', '', '0 0 26 26')
	li
		a(href="#")
			img(src="images/cn-f.png" width="26" alt="")