//- start roll-list
.categories
	.container-right
		ul.jsCatList.categories-list
			li.categories-item.thb.active(data-btn='one')
				button.accent-hover Эко-дом: тренды, стиль и декор
			li.categories-item.thb(data-btn='two')
				button.accent-hover Экология и сад
			li.categories-item.thb(data-btn='three')
				button.accent-hover Ландшафтный дизайн
			li.categories-item.thb(data-btn='four')
				button.accent-hover Территория комфорта
			li.categories-item.thb(data-btn='five')
				button.accent-hover Декор
			li.categories-item.thb(data-btn='six')
				button.accent-hover Светодизайн: Рекомендации по освещению интерьера и экстерьера
//- end roll-list