//- start roll-list
.categories
	.container
		ul#categoriesList.categories-list
			li.categories-item.thb.active(data-btn='one')
				button.accent-hover Lorem ipsum dolor sit amet consectetur.
			li.categories-item.thb(data-btn='two')
				button.accent-hover
					| Lorem ipsum dolor sit amet consectetur adipisicing.
			li.categories-item.thb(data-btn='three')
				button.accent-hover
					| Lorem ipsum dolor sit amet.
			li.categories-item.thb(data-btn='four')
				button.accent-hover
					| Lorem ipsum dolor sit amet consectetur.
			li.categories-item.thb(data-btn='five')
				button.accent-hover
					| Lorem ipsum dolor sit amet.
//- end roll-list