ul.socials
	li
		a(href="#")
			+mono-svg('vk-f', '', '0 0 26 26')
	li
		a(href="#")
			+mono-svg('yt-f', '', '0 0 26 26')
	li
		a(href="#")
			+mono-svg('wh-f', '', '0 0 26 26')
	li
		a(href="#")
			+mono-svg('tg-f', '', '0 0 26 26')