section.blog.offset
	.container
		include blog-breadcrumbs
		.blog__title Блог

	.blog__last-news
		.blog__last-news-title Последние публикации
		.blog__last-news-grid.lnews
			.lnews__item
				.lnews__item-img
					img(src="uploads/blog/b-1.jpg", alt="")
				.lnews__item-block
					.lnews__item-content
						span.lnews__item-date 01.04.2024
						span.lnews__item-label Эко-дом: тренды, стиль и декор
						span.lnews__item-title Современные эко-тренды в интерьере
						p.lnews__item-text В современном мире все больше людей задумываются об экологии и устойчивом развитии. Это отражается и на трендах в дизайне интерьера, где все большую популярность приобретают “зеленые” решения.
						a(class="lnews__item-link underline" href="#") Читать дальше
			
			.lnews__item
				.lnews__item-img
					img(src="uploads/blog/b-2.jpg", alt="")
				.lnews__item-block
					.lnews__item-content
						span.lnews__item-date 02.04.2024
						span.lnews__item-label Экология и сад
						span.lnews__item-title Использование растений в интерьере
						p.lnews__item-text Один из самых популярных эко-трендов – это использование растений в дизайне помещений. <br>В этой статье мы расскажем о том, как правильно выбрать и разместить растения, чтобы создать уютный и гармоничный интерьер.
						a(class="lnews__item-link underline" href="#") Читать дальше
			
			.lnews__item
				.lnews__item-img
					img(src="uploads/blog/b-3.jpg", alt="")
				.lnews__item-block
					.lnews__item-content
						span.lnews__item-date 03.04.2024
						span.lnews__item-label Ландшафтный дизайн
						span.lnews__item-title Основные принципы и тенденции
						p.lnews__item-text Все больше людей становятся приверженцами экологичного образа жизни. Это касается и обустройства дома, где одним из популярных направлений является эко-стиль. Мы рассмотрим основные принципы и тенденции этого стиля.
						a(class="lnews__item-link underline" href="#") Читать дальше

