//- start goods category
section(class="goods-cat offset")
	.container
		div(class="h2 accent-color") ЗенЭко - это внимание к деталям
		.goods-cat__grid.ab-grid
			a(class="goods-cat__grid-item" data-fslightbox="goods-cat" href="uploads/about/details/dt-1.jpg")
				img(src="uploads/about/details/dt-1.jpg" alt="")
			a(class="goods-cat__grid-item" data-fslightbox="goods-cat" href="uploads/about/details/dt-2.jpg")
				img(src="uploads/about/details/dt-2.jpg" alt="")
			div(class="goods-cat__grid-item view-cat")
				a(href="#") К покупкам
			a(class="goods-cat__grid-item" data-fslightbox="goods-cat" href="uploads/about/details/dt-3.jpg")
				img(src="uploads/about/details/dt-3.jpg" alt="")
//- end goods category