//- start main hero
section(class="main-hero offset")
	div(class="swiper main-hero__swiper")
		.swiper-wrapper
			.swiper-slide
				.main-hero__item
					.main-hero__content
						.h2 Искусство, рожденное<br>инновациями - A
						p.main-hero__sub Мы специализируемся на создании <br>уникальных и экологически чистых&nbsp;решений в&nbsp;области благоустройства и декора.
						a(class="btn btn--white btn--xl" href="#") Смотреть каталог
					.main-hero__img
						picture
							source(media="(max-width: 1024px)" srcset="uploads/hero/hero-main-sm.jpg")
							source(media="(min-width: 1025px)" srcset="uploads/hero/hero-main-lg.jpg")
							img(src="uploads/hero/hero-main-sm.jpg" alt="")
			.swiper-slide
				.main-hero__item
					.main-hero__content
						.h2 Искусство, рожденное<br>инновациями - B
						p.main-hero__sub Мы специализируемся на создании <br>уникальных и экологически чистых&nbsp;решений в&nbsp;области благоустройства и декора.
						a(class="btn btn--white btn--xl" href="#") Смотреть каталог
					.main-hero__img
						picture
							source(media="(max-width: 1024px)" srcset="uploads/hero/hero-main-sm.jpg")
							source(media="(min-width: 1025px)" srcset="uploads/hero/hero-main-lg.jpg")
							img(src="uploads/hero/hero-main-sm.jpg" alt="")
			.swiper-slide
				.main-hero__item
					.main-hero__content
						.h2 Искусство, рожденное<br>инновациями - C
						p.main-hero__sub Мы специализируемся на создании <br>уникальных и экологически чистых&nbsp;решений в&nbsp;области благоустройства и декора.
						a(class="btn btn--white btn--xl" href="#") Смотреть каталог
					.main-hero__img
						picture
							source(media="(max-width: 1024px)" srcset="uploads/hero/hero-main-sm.jpg")
							source(media="(min-width: 1025px)" srcset="uploads/hero/hero-main-lg.jpg")
							img(src="uploads/hero/hero-main-sm.jpg" alt="")
		.swiper-pagination
//- end main hero