//- start modal order thank you
.modal__order-bg
	.modal__order
		.modal__order-logo ЗенЭко
		.modal__order-num Ваш заказ № 406		
		.modal__order-thx Спасибо, что выбрали ZenEco		
		.modal__order-text В ближайшее время наши менеджеры свяжутся с вами для уточнения деталей заказа
		a(class="btn btn--accent modal__order-btn jsOrderClose" href="category.html") Назад в магазин
//- end modal order thank you