//- start s-form thank you
.modal__s-form-bg
	.modal__order
		.loader-circle
		.modal__order-logo ЗенЭко	
		.modal__order-thx Спасибо! <br>Ваша заявка успешно отправлена!
		br
		.modal__order-text В ближайшее время наши менеджеры свяжутся с вами для уточнения деталей заказа
//- end modal s-form thank you