// === MAIN BLOG
.slide {
	&-block {
		max-width: 400px;
		width: 100%;
	}

	&-list {
		max-height: 147px;
		transition: 0.2s ease-out;
		overflow: hidden;

		&.show {
			max-height: 100%;
		}
	}

	&-btn {
		margin-top: 5px;
		width: 100%;
		text-align: left;
		color: var(--text-gray);
		font-size: 16px;
		font-weight: 400;
		cursor: pointer;
		@include mw768 {font-size: 14px}

		&::after {
			content: "";
			display: inline-flex;
			margin-left: 10px;
			width: 10px;
			height: 10px;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L8 8L15 1' stroke='%231F4634'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&.show {			
			&::after {
				transform: rotate(180deg);
			}
		}
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;

	li {
		a {
			display: inline-block;
			color: var(--text-gray);
			font-size: 16px;
			font-weight: 400;
			@include mw768 {font-size: 14px}
		}
	}
}