block variables

include ../helpers/mixins

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		<meta name="robots" content="noindex, follow">
		title #{title}
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")

		//- lazy loading style
		<link rel="preload" href="css/swiper-bundle.min.css" as="style" onload="this.rel='stylesheet'" media="all" >

		link(rel="stylesheet" href="css/style.css")
	body
		include ../modules/header/header
		include ../modules/aside/aside

		block content

		include ../modules/footer/footer

		#overlay

		include ../modules/modals/modal-callback
		include ../modules/modals/modal-search-top
		include ../modules/modals/modal-s-form-thx
	
		// script block
		script(defer src="js/fslightbox.min.js")
		script(defer src="js/smooth-scroll.min.js")
		script(defer src="js/swiper-bundle.min.js")
		script(defer src="js/index.js")
		//- script(defer)
			| document.addEventListener('DOMContentLoaded', () => {
			|	setTimeout(function () {
			|		console.log('Scripts Lazy loading');
			|	}, 3500);
			| });
		block scripts