section.about-page__hero.offset
	.container
		include about-breadcrumbs
		.h1-adp.about-page__title От мечты к действитель&shy;ности: инновационный подход ЗенЭко.

	.container.ap-gal
		.about-page__gal
			.about-page__gal-item
				img(src="uploads/about/hero/ab-hero-1.jpg", alt="")
			.about-page__gal-item
				img(src="uploads/about/hero/ab-hero-2.jpg", alt="")
			.about-page__gal-item
				img(src="uploads/about/hero/ab-hero-3.jpg", alt="")

section.about-page__cons.offset
	.container
		.about-page__cons-text
			p В ЗенЭко мы специализируемся на создании уникальных и экологически чистых решений в области благоустройства и декора. Используя инновации и передовые нейросетевые технологии, мы предлагаем нашим клиентам не просто товары, а целостные концепции преобразования пространств. 
			p Мы гордимся нашей способностью сочетать ручную работу и уникальный дизайн, обеспечивая каждому клиенту индивидуальный подход .Наша команда мастеров и инноваторов готова учитывать индивидуальные запросы покупателей, особенности каждой территорий, предлагая эксклюзивные и функциональные решения для улучшения как частных, так и общественных пространств.
		.about-page__cons-btn
			button(class="btn btn--transp btn--xl jsOpenModal") Получить консультацию
