//- start goods category
section(class="about-page__benefits offset")
	.container
		.ap-benefits__grid
			.ap-benefits__grid-item
				div(class="h2 accent-color") Наши преимущества
				picture.ap-benefits__grid-img
					source(media="(max-width: 768px)" srcset="uploads/about/benefits/b-sm.jpg")
					source(media="(max-width: 1024px)" srcset="uploads/about/benefits/b-lg.jpg")
					source(media="(min-width: 1025px)" srcset="uploads/about/benefits/b-xl.jpg")
					img(src="uploads/about/benefits/b-xl.jpg" alt="")
			.ap-benefits__grid-item
				.ap-benefits__table
					.ap-benefits__table-row
						.ap-benefits__table-num
							span 01.
						.ap-benefits__table-text
							.ap-benefits__table-title Более 3 000 эксклюзивных товаров
							p Компания Зен Эко предлагает более 3000 эксклюзивных товаров для дома и сада, обеспечивая покупателям широкий выбор качественной продукции.
					.ap-benefits__table-row
						.ap-benefits__table-num
							span 02.
						.ap-benefits__table-text
							.ap-benefits__table-title Уникальный дизайн
							p Мы создаем уникальную продукцию, отличающуюся неповторимым дизайном. Наша цель - помочь нашим клиентам сделать свой дом или сад более уютным и привлекательным.
					.ap-benefits__table-row
						.ap-benefits__table-num
							span 03.
						.ap-benefits__table-text
							.ap-benefits__table-title Индивидуальный подход
							p Мы учитываем пожелания своих клиентов и стремимся предложить им оптимальное решение для создания красивого и функционального пространства.
					.ap-benefits__table-row
						.ap-benefits__table-num
							span 04.
						.ap-benefits__table-text
							.ap-benefits__table-title Креативность и новаторство
							p Компания ЗенЭко стремится быть лидером в своей отрасли. Благодаря постоянному развитию и внедрению новых технологий мы разрабатываем новые продукты, отвечающие современным требованиям к качеству и эффективности.
			
//- end goods category